@font-face{font-family:hammersmithone;src:url(https://raw.githubusercontent.com/krugrashkesh/theme/master/fonts/HammersmithOne-Regular.ttf);}
@font-face{font-family:arialroundedmtbold;src:url(https://raw.githubusercontent.com/krugrashkesh/theme/master/fonts/arlrdbd.ttf);}
@font-face{font-family:consolas;src:url(https://raw.githubusercontent.com/krugrashkesh/theme/master/fonts/consola.ttf);}
@font-face{font-family:couriernew;src:url(https://raw.githubusercontent.com/krugrashkesh/theme/master/fonts/cour.ttf);}
@font-face{font-family:littlelordfontleroy;src:url(https://raw.githubusercontent.com/krugrashkesh/theme/master/fonts/littlelo.ttf);}
@font-face{font-family:verdana;src:url(https://raw.githubusercontent.com/krugrashkesh/theme/master/fonts/verdana.ttf);}
